# Supabase – öffentliche Client-Credentials (Publishable Key ist für den Browser bestimmt)
NEXT_PUBLIC_SUPABASE_URL=https://vppvdyzpwmmuwbbywzwu.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_NpFuoF1d34FeN0Tv6cxL3g_nGYGt8tS
